body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: whitesmoke;
    color: brown;
    font-family: sans-serif;

}
h3{
    margin: 0;
    margin-bottom: .5rem;
}

.input{
    border: 1px solid brown;
    border-radius: .3em;
    padding: .4em;
    width: 10em;
}

select{
    margin-left: .5rem;
    background-color:brown;
    padding: .4em;
    color: white;
    border-radius: .3em;

}

.equal{
    font-weight: bolder;
    font-size: 2rem;
}

h1{
    margin-bottom: 4em;
    
    
    
}
